*,
*::before,
*::after {
  box-sizing: border-box;
}

/*---FONTS---*/

@font-face {
  font-family: 'Mermaid';
  src: url('../assets/fonts/Mermaid/Mermaid.woff2') format('woff2'),
       url('../assets/fonts/Mermaid/Mermaid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*---HTML---*/

html {
  font-size: 62.5%;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;  
  font-size: 1.8rem;
  line-height: 1.5;
  background-color: #F5E5B8;
  color: #6A3100;
}

/*---TYPE---*/

h2 {
    font-family: "Mermaid", Helvetica, Arial, sans-serif;
    font-size: 10rem;
    text-transform: uppercase;
    padding-top: 10rem;
}

.nopadding {
    padding: 0;
}

.title__events {
    line-height: 1;
}

h4 {
    font-family: "Mermaid", Helvetica, Arial, sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 5rem 0 2rem;
    line-height: normal;
}

h5 {
    font-family: "Mermaid", Helvetica, Arial, sans-serif;
    font-size: 3rem;
    margin: 5rem 0rem 2rem;
    line-height: normal;
}

.hidden {
  display: none;
}

.bold {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.carrousel__arrow {
    text-decoration: none;
    background: none;
    border: none;
}

.center {
    text-align: center;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title__story {
    font-size: 4rem;
    padding-bottom: 4rem;
}

.text__transform {
    text-transform: none;
}

.cursive {
    font-style: italic;
}

/*---COLOR---*/

.button__link {
    color: #6A3100;
}

.button__link:hover {
    color: #F5E5B8;
}

.button__link--dark {
    color: #F5E5B8;
}

.button__link--dark:hover {
    color: #6A3100;
}

.dark {
    color: white;
}

.beige {
    color: #F5E5B8;
}

.brown {
    color: #C76E22
}

.yellow {
    color: #EEA922;
}

.footer__color{
    background-color: #C76E22;
}

/*BUTTONS*/

.menu__link--button, .menu__link--buton {
    background-color: #C76E22;
    color: #F5E5B8;
    padding: 1rem 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 1.5rem;
}

.menu__link--button:hover {
    color: #C76E22;
    background-color: #F5E5B8;
}


.button {
    background-color: #F5E5B8;
    color: #6A3100;
    border: 0.25rem solid #6A3100;
    padding: 1rem 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 2rem;
    margin-bottom: 10rem;
}

.button:hover {
    background-color: #6A3100;
    color: #F5E5B8;
}

.button__dark {
    background-color: #6A3100;
    color: #F5E5B8;
    border: 0.25rem solid #F5E5B8;
    padding: 1rem 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 2rem;
    margin-bottom: 10rem;
}

.button__darkness {
    background-color: black;
}

.button__dark:hover {
    background-color: #F5E5B8;
    color: #6A3100;
}

.button__darkness:hover {
    color: black;
}

#button__prev:hover {
    content: url('/assets/img/icons/arrow-left-hover.png');
}

#button__next:hover {
    content: url('/assets/img/icons/arrow-right-hover.png');
}

/*---FLEX---*/

.flex__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex__center--end {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.flex__center--content {
    display: flex;
    justify-content: center;
}

.flex__under {
    display: flex;
    flex-direction: column;
}

/*---MARGINS---*/
.right {
    float: right;
    margin: 5rem 0rem;
}

.margin__right {
    margin-right: 15rem;
}

.margin__top {
    margin-top: -10rem;
}

.margin__top--header {
    padding-top: 20rem;
}

.margin__top--intro {
    padding-top: 10rem;
}

.container__margin--bottom {
    margin-bottom: 10rem;
}

.margin__star {
    margin: 3rem 0;
}


.margin__text {
    margin-top: 2rem;
}

.container__margin {
    margin: 0 -20rem;
}

.story__img {
    margin-right: -20rem;
}

.margin__map {
    padding-top: 5rem;
}

.h5__margin {
    margin: 1rem 3rem 2rem -6rem;
}

/*---HEADER---*/

.header__background {
    background-image: url("/assets/img/background/background.png");
    margin-top: -5rem;
    padding-bottom: .1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu__items {
    padding-top: 10rem;
    position: relative;
    z-index: 2;
}

.menu__link, .menu__link--mobile {
    color: #F5E5B8;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: bold;
    text-underline-offset: .3rem;
}

.menu__link:hover {
    text-decoration: underline;
}

.campaign {
    margin-left: -8rem;
    margin-top: -5rem;
}

.header__plot {
    font-family: "Mermaid", Helvetica, Arial, sans-serif;
    font-size: 20rem;
    text-transform: uppercase;
    color: #F5E5B8;
    line-height: normal;
    margin-bottom: 6rem;
}

.header__story {
    text-transform: uppercase;
    color: #EEA922;
    font-size: 2rem;
    float: right;
    margin-top: 4rem;
}

.header__date {
    font-family: "Mermaid", Helvetica, Arial, sans-serif;
    color: #F5E5B8;
    font-size: 5rem;
}

.header__place {
    color: #EEA922;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 3rem;
    text-transform: uppercase;
}

/*---INTRO---*/

.time {
    font-weight: bold;
    color: #EEA922;
}

.intro__text {
    font-size: 5rem;
    text-align: center;
    width: 70%;
    margin-bottom: 5rem;
}

.intro__box {
    width: 50%;
    text-align: justify;
    margin: 5rem 0rem;
}

.intro__box--right {
    margin-right: 10rem;
}

/*PROGRAM*/

.container__program {
    margin: 10rem -20rem;
    background-color: #6A3100;
}

.container__box {
    background-color: #6A3100;
    color: #F5E5B8;
    margin: 10rem 18rem;
    padding-bottom: 10rem;
}

.flex__center--program {
    justify-content: center;
}

.container__box--container {
    width: 26%;
}

.program__time {
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.program__line {
    border-left: 0.2rem solid #F5E5B8;
    height: 60rem;
    margin: 0 2rem;
}

/*---SLIDER---*/

.carrousel__container {
  width: 132%;
  padding-block: 16px 32px;
  margin: 16px 48px;
  overflow-x: auto;
  display: flex;
  gap: 5rem;
  align-items: center;
  scroll-snap-type: x mandatory;
  flex-flow: row nowrap;
  scroll-behavior: smooth;
  position: relative;
  overflow: hidden;
}

.cards__container {
    margin: 10rem -20rem;
}

.slider__img {
    margin-bottom: -1rem;
}

.card__box--container {
    background-color: #6A3100;
    color: #F5E5B8;
    padding: 2rem;
}

.card__box--title {
    font-size: 3rem;
    margin: 0;
    text-transform: capitalize;
}

.age__box {
    background-color: #EEA922;
    color: #6A3100;
    padding: 1rem 2.5rem;
    margin: 2rem 2rem -6rem 25rem;
    font-size: 1.6rem;
    font-weight: 600;
    z-index: 1;
    position: relative;
    text-align: center;
}

.card__box--price {
    font-size: 2rem;
}

.card__box--date {
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: bold;
}

.card__box--hour {
    font-size: 1.8rem;
}

/*---STORY---*/

.intro__text--story {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 5rem;
}

#rotating {
    animation: rotate 1.2s infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
   }
    25%{
        transform: rotate(45deg);
   }
   50%{
        transform: rotate(90deg);
   }
   75%{
        transform: rotate(135deg);
   }
    100%{
        transform: rotate(180deg);
   }
}

.story__box {
    width: 35%;
}

/*---PRACTICAL---*/

.info__box {
    padding: 3rem 10rem;
    margin-left: 5rem;
    background-color: #6A3100;
}

.icon::before {
    content:url('/assets/img/icons/wheelchair.png');
    position:relative;
    z-index:2;
    padding-right: 2rem;
}

.option__box {
  border-bottom: .2rem solid #C76E22;
  overflow: hidden;
}

.option__box--car {
    border-top: .2rem solid #C76E22;
}

.option__item {
    background-color: #F5E5B8;
    width: 100%;
    padding: 2rem 0 2rem 5rem;
    text-align: left;
    font-size: 18px;
    border: none;
    outline: none;
    position: relative;
    font-family: "Poppins", sans-serif;
    color: #C76E22;
    display: flex;
    align-items: center;
}

.option__item:hover {
    cursor: pointer;
    font-weight: bold;
}

.option__item.active {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.option__item .arrow {
    position: absolute;
    right: 1rem;
    transition: transform 0.3s ease;
}

.option__icon {
    margin: 2rem 5rem 2rem -5rem;
}

.option__item.active .arrow {
    transform: rotate(180deg);
}

.option__item--text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.option__item--text  p {
    margin: 0rem 11rem 5rem;
    color: #C76E22;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .numbertext {
    color: #EEA922;
    font-size: 8rem;
    font-family: "Mermaid", Helvetica, Arial, sans-serif;
  }
  
  .active {
    color:#C76E22;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 20s;
  }
  
  @keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: none;
    transition: background-color 0.6s ease;
  }

  .slideshow__text {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
  }

.button__rotate {
    transform: rotate(-45deg);
}

#arrow__diagonal:hover {
    content: url('/assets/img/icons/arrow-right-hover.png');
    cursor: pointer;
}


#arrow__diagonal2:hover {
    content: url('/assets/img/icons/arrow-right-hover.png');
    cursor: pointer;
}

.contact__width {
    width: 45%;
}

.copyright {
    font-size: 1.3rem;
}

.logo__top {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: -5rem;
    margin-top: 5rem;
}

.logo__bottom {
    font-family: "Mermaid", Helvetica, Arial, sans-serif;
    font-size: 20rem;
    text-transform: uppercase;
    margin-bottom: -10.5rem;
}

.menu__link--footer {
    margin: 2rem 0;
    font-weight: 400;
}

#facebook:hover {
    content: url('/assets/img/icons/facebook-hover.png');
    cursor: pointer;
}

#instagram:hover {
    content: url('/assets/img/icons/insta-hover.png');
    cursor: pointer;
}






/*---RESPONSIVE---*/

@media screen and (min-width: 360px) {
    h2 {
        font-size: 3rem;
    }
    
    main, .container {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1.6rem;
    }

    .container__margin {
        margin: 0 -1rem;
    }

    .img {
        width: 60%;
    }

    .flex__center {
        display: flex;
        flex-direction: column;
    }

      .flex__center--footer {
        display: flex;
        flex-direction: column;
    }

    .campaign {
        height: 80%;
        width: 80%;
    }

    .header__plot {
        font-size: 10rem;
        padding-top: 0.5rem;
    }

    .margin__top--header {
        padding-top: 5rem;
    }

    .header__story {
        font-size: 1.8rem;
    }

    .header__date {
        font-size: 2.5rem;
    }

    .header__place {
        font-size: 2rem;
    }

    .intro__text {
        font-size: 2rem;
        width: 100%;
        margin-bottom: 2rem;
    }

    .intro__box {
        width: 70%;
    }

    .intro__box--right {
        margin: 0;
    }

    button {
        font-size: 1.5rem;
    }

    .container__box {
        margin: .5rem 0;
    }

    .container__box--container {
        margin: 1rem 0;
    }

    .container__program {
        margin: -1rem;
    }

    h4 {
        font-size: 2rem;
    }

    .program__line {
        display: none;
    }

    .story__box {
        width: 90%;
    }

    .intro__text--story {
        font-size: 2rem;
    }

    .number__text {
        font-size: 2rem;
    }

    .slideshow__text {
        font-size: 1.8rem;
    }

    .contact__width {
        width: 90%;
    }

    .info__box {
        padding: 1rem 2rem;
        margin-left: 0;
        margin-top: 2rem;
    }

    .option__item--text p {
        margin: 2rem 0;
    }

    .plot__logo--width {
        width: 100%;
    }

    .logo__bottom {
        font-size: 10rem;
        margin-bottom: 0;
        margin-top: 2rem;
    }

    .footer__padding {
        padding-bottom: 2rem;
    }

    .copyright {
        margin: 1rem;
    }

    .cards__container {
        margin: 0;
    }
    
    .carrousel__container {
        width: 100%;
    }

    .h5__margin {
        margin: 0;
    }

    .menu__mobile {
        display: block;
    }

    .menu__link, .menu__link--button {
        display: none;
    }
}

@media screen and (min-width: 400px) {
     main, .container {
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 1.6rem;
    }

     .container__box--container {
        width: 90%;
    }

    button {
        font-size: 1.5rem;
    }

    .button__dark {
        font-size: 1.5rem;
    }

    .option__icon {
        margin: 2rem 5rem 2rem -3rem;
    }

    .numbertext {
        font-size: 2rem;
    }
    
}

@media screen and (min-width: 500px) {
    main, .container {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    
    h2 {
        font-size: 4rem;
    }

    .option__icon {
        margin: 2rem 5rem 2rem -1rem;
    }

     .numbertext {
        font-size: 3rem;
    }

    .flex__center--footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}

@media screen and (min-width: 900px) {
    main, .container {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .menu__mobile {
        display: none;
    }

    .menu__link, .menu__link--button {
        display: block
    }

    .flex__center {
        display: flex;
        flex-direction: row;
    }

    .img {
        width: 90%;
    }

    .campaign {
        height: 60%;
        width: 60%;
    }

    .intro__text {
        font-size: 5rem;
    }

    .intro__box--right {
        margin-right: 10rem;
    }

    .container__program {
        margin: 0 -10rem;
    }

    .container__margin {
        margin: 0 -10rem;
    }

    .flex__center--footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .plot__logo--width {
        width: 40%;
    }

    .margin__right {
        margin-right: 1rem;
    }

    .program__line {
        display: block;
    }
}

@media screen and (min-width: 1440px) {
    main, .container {
        margin-left: 20rem;
        margin-right: 20rem;
        font-size: 1.8rem;
    }

    .margin__right {
        margin-right: 15rem;
    }

    .campaign {
        height: 100%;
        width: 100%;
    }


    h2 {
        font-size: 10rem;
    }

    .img {
        width: 100%;
    }

    .flex__center {
        display: flex;
        flex-direction: row;
    }

   .container__margin {
        margin: 0 -20rem;
    }

    /*---HEADER---*/

.header__background {
    background-image: url("/assets/img/background/background.png");
    margin-top: -5rem;
    padding-bottom: .1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu__items {
    padding-top: 10rem;
    position: relative;
    z-index: 2;
}

.menu__link {
    color: #F5E5B8;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    font-style: bold;
    text-underline-offset: .3rem;
}

.menu__link:hover {
    text-decoration: underline;
}

.campaign {
    margin-left: -8rem;
    margin-top: -5rem;
}

.header__plot {
    font-family: "Mermaid", Helvetica, Arial, sans-serif;
    font-size: 20rem;
    text-transform: uppercase;
    color: #F5E5B8;
    line-height: normal;
    margin-bottom: 6rem;
}

.header__story {
    text-transform: uppercase;
    color: #EEA922;
    font-size: 2rem;
    float: right;
    margin-top: 4rem;
}

.header__date {
    font-family: "Mermaid", Helvetica, Arial, sans-serif;
    color: #F5E5B8;
    font-size: 5rem;
}

.header__place {
    color: #EEA922;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 3rem;
    text-transform: uppercase;
}

/*---INTRO---*/

.time {
    font-weight: bold;
    color: #EEA922;
}

.intro__text {
    font-size: 5rem;
    text-align: center;
    width: 70%;
    margin-bottom: 5rem;
}

.intro__box {
    width: 50%;
    text-align: justify;
    margin: 5rem 0rem;
}

.intro__box--right {
    margin-right: 10rem;
}

/*PROGRAM*/

.container__program {
    margin: 10rem -20rem;
    background-color: #6A3100;
}

.container__box {
    background-color: #6A3100;
    color: #F5E5B8;
    margin: 10rem 18rem;
    padding-bottom: 10rem;
}

.flex__center--program {
    justify-content: center;
}

.container__box--container {
    width: 26%;
}

.program__time {
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.program__line {
    border-left: 0.2rem solid #F5E5B8;
    height: 60rem;
    margin: 0 2rem;
}

/*---SLIDER---*/

.carrousel__container {
  width: 132%;
  padding-block: 16px 32px;
  margin: 16px 48px;
  overflow-x: auto;
  display: flex;
  gap: 5rem;
  align-items: center;
  scroll-snap-type: x mandatory;
  flex-flow: row nowrap;
  scroll-behavior: smooth;
  position: relative;
  overflow: hidden;
}

.cards__container {
    margin: 10rem -20rem;
}

.slider__img {
    margin-bottom: -1rem;
}

.card__box--container {
    background-color: #6A3100;
    color: #F5E5B8;
    padding: 2rem;
}

.card__box--title {
    font-size: 3rem;
    margin: 0;
    text-transform: capitalize;
}

.age__box {
    background-color: #EEA922;
    color: #6A3100;
    padding: 1rem 2.5rem;
    margin: 2rem 2rem -6rem 25rem;
    font-size: 1.6rem;
    font-weight: 600;
    z-index: 1;
    position: relative;
    text-align: center;
}

.card__box--price {
    font-size: 2rem;
}

.card__box--date {
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: bold;
}

.card__box--hour {
    font-size: 1.8rem;
}

/*---STORY---*/

.intro__text--story {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 5rem;
}

#rotating {
    animation: rotate 1.2s infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
   }
    25%{
        transform: rotate(45deg);
   }
   50%{
        transform: rotate(90deg);
   }
   75%{
        transform: rotate(135deg);
   }
    100%{
        transform: rotate(180deg);
   }
}

.story__box {
    width: 35%;
}

/*---PRACTICAL---*/

.info__box {
    padding: 3rem 10rem;
    margin-left: 5rem;
    background-color: #6A3100;
}

.icon::before {
    content:url('/assets/img/icons/wheelchair.png');
    position:relative;
    z-index:2;
    padding-right: 2rem;
}

.option__box {
  border-bottom: .2rem solid #C76E22;
  overflow: hidden;
}

.option__box--car {
    border-top: .2rem solid #C76E22;
}

.option__item {
    background-color: #F5E5B8;
    width: 100%;
    padding: 2rem 0 2rem 5rem;
    text-align: left;
    font-size: 18px;
    border: none;
    outline: none;
    position: relative;
    font-family: "Poppins", sans-serif;
    color: #C76E22;
    display: flex;
    align-items: center;
}

.option__item:hover {
    cursor: pointer;
    font-weight: bold;
}

.option__item.active {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.option__item .arrow {
    position: absolute;
    right: 1rem;
    transition: transform 0.3s ease;
}

.option__icon {
    margin: 2rem 5rem 2rem -5rem;
}

.option__item.active .arrow {
    transform: rotate(180deg);
}

.option__item--text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.option__item--text  p {
    margin: 0rem 11rem 5rem;
    color: #C76E22;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .numbertext {
    color: #EEA922;
    font-size: 8rem;
    font-family: "Mermaid", Helvetica, Arial, sans-serif;
  }
  
  .active {
    color:#C76E22;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 20s;
  }
  
  @keyframes fade {
    from {opacity: .8} 
    to {opacity: 1}
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: none;
    transition: background-color 0.6s ease;
  }

  .slideshow__text {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
  }

.button__rotate {
    transform: rotate(-45deg);
}

#arrow__diagonal:hover {
    content: url('/assets/img/icons/arrow-right-hover.png');
    cursor: pointer;
}


#arrow__diagonal2:hover {
    content: url('/assets/img/icons/arrow-right-hover.png');
    cursor: pointer;
}

.contact__width {
    width: 45%;
}

.copyright {
    font-size: 1.3rem;
}

.logo__top {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: -5rem;
    margin-top: 5rem;
}

.logo__bottom {
    font-family: "Mermaid", Helvetica, Arial, sans-serif;
    font-size: 20rem;
    text-transform: uppercase;
    margin-bottom: -10.5rem;
}

.menu__link--footer {
    margin: 2rem 0;
    font-weight: 400;
}

#facebook:hover {
    content: url('/assets/img/icons/facebook-hover.png');
    cursor: pointer;
}

#instagram:hover {
    content: url('/assets/img/icons/insta-hover.png');
    cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;  
  font-size: 1.8rem;
  line-height: 1.5;
  background-color: #F5E5B8;
  color: #6A3100;
}
}

